// Colors
$white: #FFFFFF;
$black: #000000;
$gray: #F6F6F6;
$dark-gray: #7A7A7A;
$medium-gray: fade-out($dark-gray,0.75);
$light-gray: #E7E7E7;
$violet: #383B69;
$light-violet: #434D86;
$dark-orange: #DA6B3B;
$orange: #FF7C41;
$light-orange: #FCAD67;

