// Features

.feature-container {
  background-image: url('../img/feature.jpg');
  background-size: cover;
  background-position: left center;
  min-height: 530px;
}

.feature-text {
  background-color: $feature-text-background-color;
  width: 300px;
}