// General Styles

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
 
 body {
  font-family: $base-font;
  background-color: $body-background-color;
  -webkit-font-smoothing: antialiased;
 }

 .container {
  margin: 0 auto;
 }

 .row {
  width: 960px;
  margin: 0 auto;
  @extend %clearfix;
 }

 p {
  font-weight: 400;
 }

 header {
  height: 63px;
  background-color: $header-background-color;
  h1, h2 { 
    color: $header-color; 
    display: inline-block;
  }
  h1 {
    font-weight: 600;
    font-size: 26px;
  }
  h2 { 
    font-weight: 300;
    font-style: italic;
    font-size: 20px;

  }
  button {
    float: right;
    margin: 10px 0; 
    @extend %clearfix;
  }
 }

nav {
  border-top: 1px solid $medium-gray;
  border-bottom: 1px solid $medium-gray;
  ul {
    list-style-type: none;
    padding: 0;
    float: left;
    li {
      display: inline-block;
    }
  }
  button {
    float: right;
  }
  @extend %clearfix;
}

button {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;

  &.orange {
    background: $orange;
    color: $white;
  }

  &.gray {
    background: $dark-gray;
    color: $white;
  }

  &.small {
    font-size: 14px;
    padding: 5px 10px;
  }
}