// Variables

// Fonts
$base-font: 'Signika', sans-serif;

// Background Colors
$body-background-color: $gray;
$header-background-color: $white;
$feature-text-background-color: $white;

// Headers
$header-color: $violet;

// Links
$navigation-link-color: $violet;